{% extends  'base.html' %}

{% block title %}Home Page {% endblock %}
{% block content %}
<p></p>
{% if user.is_authenticated %}

<div class ='alert alert-info' role='alert'>
<h3>Hi {{ user.username }},  {{ user.first_name }} !</h3>

</div>


    <style>
        table, th, td {
            padding : 10px;
            border: 1px solid grey;    
        }
        
        td a:hover {
            color: red;
        }
    </style>
    <div class = 'table'>
            <table style = 'width: 100%'>

                <tr>
                    <th>User</th>
                    <th>Weekly Goals</th>
                    <th>Daily Goals</th>
                    <th>Verify Goals</th>
                    <th>Done Goals</th>
                </tr>

                {% for goal in scrumygoals %}
                <tr>
                    <td>{{ goal.user }}</td>
                        
                    <td> {% if goal.goal_status.status_name == 'Weekly Goal' %}
                        <div><a href = "{% url 'move_goal' goal_id=goal.goal_id %}">{{ goal.goal_name }} ,{{ goal.goal_id }}</a></div>
                    {% else %}
                    <div> ******</div>
                    {% endif %}
                </td>

                    <td> {% if goal.goal_status.status_name == 'Daily goal' %}
                        <div><a href = "{% url 'move_goal' goal_id=goal.goal_id %}">{{ goal.goal_name }} ,{{ goal.goal_id }}</a></div>
                    {% else %}
                    <div> ******</div>
                    {% endif %}
                </td>


                     <td> {% if goal.goal_status.status_name == 'Verify Goal' %}
                        <div><a href = "{% url 'move_goal' goal_id=goal.goal_id %}">{{ goal.goal_name }} ,{{ goal.goal_id }}</a></div>
                    {% else %}
                    <div> ******</div>
                    {% endif %}
                </td>


                     <td> {% if goal.goal_status.status_name == 'Done Goal' %}
                        <div><a href = "{% url 'move_goal' goal_id=goal.goal_id %}">{{ goal.goal_name }} ,{{ goal.goal_id }}</a></div>
                    {% else %}
                    <div> ******</div>
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
            </table>
        </div>
<div class ='alert alert-secondary' role='alert'>
<a href = '{% url "add_goal" %}'>Create a goal here</a> | <a href = '{% url "index" %}'>Sign up as a new user</a>
</div>
<div class ='alert alert-info' role='alert'>
<a href = "{% url 'logout' %}">Logout</a>
</div>
{% else %}
<div class ='alert alert-dark' role='alert'>
<p>You are not logged in</p>
<a href = "{% url 'login' %}">Login:</a>
</div>
<hr>
<div class ='alert alert-success' role='alert'>
<p>Sign up as a new user?</p>
<a href = "{% url 'index' %}">Sign Up:</a>
</div>
{% endif %}

{% endblock %}
